.bd{
    background: url(/images/bg.jpg) #000 no-repeat center top;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 19%;
    padding-right: 19%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: small;
}
.external{
    background: url(/images/form-bg.png) no-repeat;
    width: 92%;
    height: auto;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 6%;
    padding-top: 10%;
}
.external header{
    font-size: small;
    width: 100%;
}
.external .cont{
    width: auto;
    height: auto;
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.middle{
    width: 3%;
    height: 80%;
}
.middle .fl{
    text-decoration: line-through;
    transform: rotate(90deg);
    display: inline-block;
    margin: 1rem;
    margin-left: -1rem;
    color: rgba(0, 0, 0, .0);
    text-decoration-color: #b9b9b9;
}
.middle .or{
    display: inline-block;
}
.left, .right{
    width: 45%;
    height: 150px;
}
.button .h5{
    transform: scaleY(1.7);
}
.button .fb{
    width: 95%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: #fff;
    background: linear-gradient(to bottom, #668dc8, #4870ab);
    border-style: none;
    border-top: 2px solid #4870ab;
    margin-top: 0px;
    margin-left: 1rem;
    transform: scaleY(.6);
}
.button .tw{
    width: 95%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: #fff;
    background: linear-gradient(to bottom, #53d0d5, #36b3b8);
    border-style: none;
    border-top: 2px solid #36b3b8;
    margin-top: -0.5rem;
    margin-left: 1rem;
    transform: scaleY(.6);
}
.radius{
    border-radius: .5em;
}
div .button img{
    float: left;
    margin-right: 15px;
    transform: scaleY(2);
}
a{
    text-decoration: none;
}
.grey{
    color: #b9b9b9;
}
.blue #a{
    color: #2944ab;
}
.blue{
    color: #2944ab;
}
.bold{
    color: #464646;
}
.twit{
    color: #30cad0;
}
.frm .text{
    background: url(/images/user-icon.png) no-repeat #fff left;
    background-position: 2.5%;
    padding: 0.4rem;
    padding-left: 2.5rem;
    border-style: none;
    border-top: 2px solid #b9b9b9;
}
.frm .pass{
    background: url(/images/password-icon.png) no-repeat #fff left;
    background-position: 2.5%;
    padding: 0.4rem;
    padding-left: 2.5rem;
    margin-bottom: -20%;
    border-style: none;
    border-top: 2px solid #b9b9b9;
}
.frm .sbmt{
    background: linear-gradient(to bottom, #fad965, #d1b03d);
    padding: .3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: bold;
    margin-top: -3%;
    margin-left: 51%;
    margin-bottom: -15%;
    border-style: none;
    border-bottom: 2px solid #464646;
}
.frgt #a{
    color: #b9b9b9;
    margin-left: 50%;
}