.other{
    background-color: rgb(253, 253, 4);
    color: blue;
    text-align: center;
}
.bd{
    background: url("/images/bg.jpg") no-repeat #000 center;
}
.form{
    width: 55%;
    background: url("/images/form-bg.png") no-repeat;
    background-size: 100%;
    margin-top: 10%;
    margin-left: 20%;
    padding-top: 7%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: #464646;
}
.head{
    font-size: 0.7rem;
}
.contner{
    display: flex;
}
.trans{
    opacity: .25;
}
.blue{
    color: #2944ab;
}
.twit{
    color: #30cad0;
}

.blocks{
    width: 45%;
    height: 100%;
}
.button{
    border-radius: .5rem;
    background: linear-gradient(to top, #668dc8, #4870ab);
}
.button button{
    width: 90%;
    height: 2.5em;
    color: #fff;
    display: flex;
    justify-content: left;
    align-items: center;
    /* border-style: none; */
    /* border-bottom: #464646;     */
}
.txt{
    font-size: .7em;
}
.left button img{
    float: left;
    margin: 3%;
    margin-left: 2px;    
}
.h5{
    margin-left: 1em;
}
.fb{
    margin: 1rem;
    background: linear-gradient(to bottom, #668dc8, #4870ab);
    /* border-style: none; */
    border-top: 2px solid #4870ab;
    /* border-color:  red; */
}
.tw{
    margin: 1rem;
    background: linear-gradient(to bottom, #53d0d5, #36b3b8);
    border-style: none;
    border-top: 2px solid #b9b9b9 !;
}
.cont{
    width: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 3rem;
}
span.fl{
    text-decoration: line-through;
    text-decoration-color: #464646;
    color: rgba(0, 0, 0, 0);
    letter-spacing: 0.3rem;
    padding: 5% 5%;
    font-size: 0.2rem;
    transform: scaleX(2);
    transform: rotate(90deg);
}
span.or{
    color: #464646;
    padding: 20px;
}
.sbmt{
    background: linear-gradient(#fad965, #d1b03d);
    color: #464646;
    width: 40%;
    height: 2.5em;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 2%;
    margin-right: 2.25%; 
    margin-top: 0.1rem;
    margin-bottom: -5%;
    border-style: none;
    border-bottom: 2px solid #787878;
}
.right{
    margin-top: -2%;
    align-items: center;
    margin-left: 5%;
    text-align: end;
}
.text{
    background: url("/images/user-icon.png") #464646 no-repeat left center;
    background-color: #fff;
    background-position: 2%;
    border-style: none;
    border-top: 2px solid #b9b9b9;
}
.pass{
    background: url("/images/password-icon.png") no-repeat left center;
    background-color: #fff;
    background-position: 2%;
    border-style: none;
    border-top: 2px solid #b9b9b9;
}
.text, .pass {
    width: 90%;
    height: 1rem;
    padding: 3%;
    margin-left: 0%;
}
.frgt{
    color: #b9b9b9;
    margin-top: 0.5rem;
}
#a{
    text-decoration: none;
    color: #b9b9b9;
}
.blue #a{
    color: #2944ab;
}
.radius{
    border-radius: .5em;
    /* border-style: none; */
} 
.tw, .fb{
    border-style: none;
    /* border-color: #fff; */
}
/* .button .fb{
    background: linear-gradient(to bottom, #668dc8, #4870ab);
    margin-rig */
}
/* .button .sbmt{
    align-self:flex-end;
} */

